/*------------------------------------------*/
/* BASIC SETUP */
/*------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*removes the blue border chrome browser puts around elements when you click or focus on them.*/
*:focus {outline: none;}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------------------*/
/* REUSABLE COMPONENTS */
/*------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*Adding whitespace between sections for clarity. Will use padding instead of margin for that because we will add some background later.*/
section {
    padding: 80px 0; /*top&bottom left&right*/
}

.box {
    padding: 1%;
}

/* ------ HEADINGS ----- */

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; /*We use percentage because this is responsive design*/
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

/*This will be a solid line after all h2 elements.*/
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " "; /*Important - We must specify the content of the :after pseudo element*/
    width: 100px;
    margin: 0 auto; /*To center the line horizontally*/
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */
/*Refer to the typography lesson*/
.long-copy {
    line-height: 145%; /*should be between 120% and 145%*/
    width: 70%; /*With this, the text will not be centered anymore. Setting the margin will fix this.*/
    margin-left: 15%; /*Will effectively center all the text*/
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* ----- ICONS ----- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%; /*A line height in percent of the current font size. */
    margin-right: 10px;
    
    /*Tip to align text next to icon font*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* ----- LINKS ----- */

a:link, 
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;/*inline-block elements are like inline elements but they can have a width and height*/
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    /*changing from THIS css to any other should not happen instantly*/
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit] {
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/*------------------------------------------*/
/* HEADER */
/*------------------------------------------*/

header {
    /*linear gradient added to make heading text more legible*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;/*It is like zooming into the background image*/
    background-position: center;
    height: 100vh; /*100% of viewport*/
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px; /*Look at css for ".row"*/
    top: 50%; /*Top and left are w.r.t the left edge of element. So, image will not be exactly centered*/
    left: 50%;
    transform: translate(-50%, -50%); /*This moves the element by 50% of its width & height, thereby perfectly centering the box*/
}

.logo {
    height: 100px;
    width: auto;
    float: left;/*Now, "content" below the img tag, can float around it.*/
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/*------------------------------------------*/
/* FEATURES */
/*------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 30px;
}


/*------------------------------------------*/
/* MEALS */
/*------------------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%; /*4 li should occupy full width.*/
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden; /*This is to prevent spilling out of images when we scale the images.*/
    background: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;/*This will scale the image in proportion to the 25% width set for meals-showcase-li*/
    transform: scale(1.15); /*This is a part of our "animation" for food images.*/
    transition: transform 0.5s, opacity 0.5s; /*animation - changing from this css setting to another will take some time*/
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03); /*Not 1 because we want to cover some whitespace below each image.*/
}

/*------------------------------------------*/
/* HOW IT WORKS */
/*------------------------------------------*/

/*Adding a subtle color. It affects the "visual transition" from this section to the next one while scrolling down the page.*/
.section-steps {
    background-color: #f4f4f4;
}

.steps-box {
    margin-top: 30px; 
}

.steps-box:first-child {
    text-align: right; /*Works for text, inline and inline-block elements.*/
    padding-right: 3%;
    margin-top: 30px;/*To align both the steps boxes better*/
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;/*To align both the steps boxes better*/
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

/*just a demo of last-of-type.*/
.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block; /*To ensure that the number(in div) can be beside the text and not cause a line break.*/
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*------------------------------------------*/
/* CITIES */
/*------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}


/*------------------------------------------*/
/* TESTIMONIALS */
/*------------------------------------------*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed; /*When we scroll in the page, the image stays in the same place, relative to the browser window*/
}

blockquote {
    padding: 2%;
    font-style: italic;/*Italic style comes from the webfont css we imported in the html page.*/
    line-height: 145%;
    position: relative;/*This means all positioned elements inside of this element should be positioned relative to this element's location*/
    margin-top: 40px; 
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

blockquote:before {
    content: "\201C";/*\201C is a glyph or symbol for left double quotes*/
    font-size: 500%;
    display: block; /*will display this :before pseudoelement on a new line.*/
    position: absolute;/*This works only when 'blockquote' has position relative.*/
    top: -5px;
    left: -3px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


/*------------------------------------------*/
/* PLANS */
/*------------------------------------------*/

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%; /*half of the 10% remaning width*/
    box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0; 
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;/*To make font less bold. Also, look at the imported fonts in the html file for this font weight. */
    color: #e67e22;
}

.plan-price span {
    font-size: 30%; /*30% of .plan-price font-size*/
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/*------------------------------------------*/
/* FORM */
/*------------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}


/*------------------------------------------*/
/* FOOTER */
/*------------------------------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

/*To move the social icons to the edge of their containing row.*/
.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
    transition: 0.2s color;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #125688;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}










/*------------------------------------------*/
/* NOTES */
/*------------------------------------------*/
/*
>> background-size also accepts the cover keyword. The image is scaled to fit the entire container but, if that has a different aspect 
ratio, the image will be cropped. http://www.sitepoint.com/css3-background-size-property/


>> In the header, linear gradient acts like a second background image.


>> :link, :visited etc are pseudo class for html links. Note that the order of the CSS for links matters. Two key CSS concepts explain
this. Specificity and inheritance. https://www.smashingmagazine.com/2010/04/css-specificity-and-inheritance/


>>> :first-child - This pseudo-class matches an element only if it's the first child element of its parent element. For instance, li:first-child matches the first list item in an ol or ul element. It doesn’t match the first child of a list item.


>> Negative margins:
When a static (not floated) element is given a negative margin on the top/left, it pulls the element in that specified direction. 
Example: #mydiv1 {margin-top:-10px;} moves the element 10px upwards.

But, if you apply it to the bottom/right, it doesn’t move the element down/right as you might think. Instead, it pulls any succeeding
element into the main element, overlapping it.

More info here - https://www.smashingmagazine.com/2009/07/the-definitive-guide-to-using-negative-margins/


*/