* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: url(img/hero.jpg);
    background-size: cover;/*It is like zooming into the background image*/
    background-position: center;
    height: 100vh; /*100% of viewport*/
}

.hero-text-box {
    position: absolute;
    width: 1140px; /*Look at css for ".row"*/
    top: 50%;
    left: 50%;
}

h1 {
    margin: 0;
}


/*
NOTES - 
background-size also accepts the cover keyword. The image is scaled to fit the entire container but, if that has a different aspect ratio, the image will be cropped. http://www.sitepoint.com/css3-background-size-property/



*/